* {
	margin: 0 auto;
}

#detail {
	height: 1800px;
	width: 100%;
	background: url(../images/detail_bg.jpg)no-repeat;
	background-size: 100% 100%;
	
}
#top_menu {
	color: white;
	height: 50px;
	line-height: 50px;
	width: 100%;
	background-color: 	#4682B4;
}
#top_menu a:hover {
	color: pink;
	text-decoration: none;
}

#top_menu a {
	width: 80px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	float: right;
	color: white;
	margin-right: 20px;
	display: inline-block;
}
.search_div{
	width: 100%;
	height: 80px;
}
.search_div #search_input{
	display: inline-block;
	width: 500px;
	height: 40px;
	
	border: 2px solid 	#4682B4;
	border-radius: 5px;
	margin-left: 500px; 
	margin-top: 20px; 
}
.search_div #search_btn{
	display: inline-block;
	height: 40px;
	width: 80px;
	color: white;
	border-radius: 5px;
	background-color: 	#4682B4;
	border: 2px solid 	#4682B4;
}
#show_good{
	width: 1350px;
	height: 450px;
}
.carousel {
	width: 450px;
	height: 300px;
	float: left;
	margin-left: 100px;
	margin-top: 25px;
}

#descr {
	margin-top: 25px;
	margin-left: 15px;
	width: 700px;
	height: 400px;
	float: left;
}

#goodsType {
	color: white;
	height: 70px;
	width: 210px;
	float: left;
	line-height: 70px;
}

#intro {
	color: white;
	float: left;
	height: 70px;
	width: 486px;
}

#sale {
	height: 100px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	margin-top: 80px;
}

#up {
	height: 50%;
	width: 690px;
	margin-left: 10px;
	border-bottom: 1px dotted darkgray;
}

#down {
	height: 50%;
	width: 690px;
	margin-left: 10px;
	border-bottom: 1px dotted darkgray;
}

#down .youhui {
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid red;
	position: relative;
}

#history {
	height: 40px;
	width: 100%;
	line-height: 40px;
	border-bottom: 1px solid lightgray;
}

#history span {
	font-size: 13px;
	display: inline-block;
	width: 200px;
}

#history #finish {
	text-align: center;
}

#history #comment_descr {
	text-align: right;
}

#add_order {
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
	width: 100%;
	height: 100%;
}

#input_order {
	width: 50%;
	border-right: 1px solid darkgray;
}

#input_order .num_add {
	margin-right: 70px;
}

#input_order .num_add a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	background-color:#4682B4;
	border-radius: 5px;
	line-height: 30px;
	font-size: 20px;
	text-decoration: none;
}

#add_order #input_order {
	float: left;
}

#add_order .num_add .num_show {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}

#add_order #total {
	text-align: center;
	margin-right: 20px;
	float: right;
	height: 150px;
	width: 320px;
}

#add_order #total #heji {
	border-bottom: 1px dotted darkgray;
}

#total #topay {
	margin-top: 25px;
	float: left;
	color: white;
	display: inline-block;
	width: 150px;
	height: 40px;
	background-color: orange;
	text-decoration: none;
	line-height: 40px;
	font-size: 20px;
	border-radius: 5px;
}

#total #add_cart {
	margin-top: 25px;
	float: right;
	color: white;
	display: inline-block;
	width: 150px;
	height: 40px;
	background-color: orangered;
	text-decoration: none;
	line-height: 40px;
	font-size: 20px;
	border-radius: 5px;
}

.editable1,
.editable2,
.editable3,
.editable4 {
	height: 100px;
	width: 200px;
	left: 980px;
	top: 250px;
	line-height: 20px;
	border: 1px solid darkgray;
	background: lightyellow;
	border-radius: 5px;
	display: none;
	position: absolute;
	
}
#big_comment{
	width: 100%;
	height: 1200px;
}
#comment_good{
	width: 800px;
	height: 1200px;
	margin-left: 180px;
	float: left;
}
#feel_div{
	width: 100%;
	height: 100px;
	border: 1px dotted darkgray;
}
#feel_div #satis_div{
	width: 50%;
	float: left;
	text-align: center;
	border-right: 1px dotted darkgray ;
}
#feel_div #comment_div{
	width: 50%;
	float: left;
	line-height: ;
	height: 100%;
	text-align: center;
}
#comment_div span{
	text-decoration: none;
	display: inline-block;
	line-height: 50px;
	width: 100%;
	height: 50px;
	float: top;
}
#comment_div #comment_btn {
	text-decoration: none;
	display: inline-block;
	line-height:40px;
	width: 160px;
	height: 40px;
	background-color: 	#4682B4;
	color: white;
	float: top;
}
.tab-content #messages{
	background: rgba(0,0,0,0.5);
}
.tab-content #home,#profile,#messages{
	color: white;
}
#show_comment{
	width: 100%;
	height: 100%;
}

#show_comment .item_comment{
	width: 100%;
	height: 250px;
	margin-top: 20px;
}
#show_comment .item_comment .comment_show {
	width: 550px;
	height: 100%;
	float: left;
	border: 1px solid darkgray;
}
#show_comment .item_comment .comment_show img{
	width: 25px;
	height: 25px;
	border-radius:12px
}
#show_comment  .user_show{
	width: 250px;
	height: 100%;
	float: right;
	padding-left: 70px;
	padding-top: 80px;
}
#show_comment .item_comment .comment_show .title1{
	width: 85px;
	float: left;
	font-weight: 3px;
}
#show_comment .item_comment .comment_show .title2{
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	height: 150px;
	border-bottom: 1px dotted darkgray;
	border-top: 1px dotted darkgray;
}
#show_comment .item_comment .comment_show .title2 span{
	display: inline-block;
	height: 90px;
	width: 85px;
}
#show_comment .item_comment .comment_show .title2  div{
	height: 90px;
	width: 463px;
	float: right;
	
}
#show_comment .item_comment .comment_show .title3{
    padding-top: 10px;	
}
 #big_comment #company_static{
 	background: rgba(0,0,0,0.5);
 	padding-top: 30px;
 	padding-left: 50px;
	width: 300px;
	height: 250px;
	right:0px;
	color: white;
    float: right;
    margin-right: 170px;
    border: 2px dotted #4682B4;
    border-radius: 5px;
}
#company_static #phone{
	padding-top: 30px;
	border-top: 1px dotted darkgray;
	margin-top: 30px;
	width: 200px;
	height: 200px;
}
