*{
	padding: 0;
	margin: 0;
}
body{
	width: 1440px;
	margin: auto;
}
div{
	width: 100%;
}


#head{
}
#head_info{
	background-color: #F4F4F4;
	position: relative;
	width: 100%;
	height: 40px;
}
#head_info a{
	text-decoration:none;
	float: right;
	margin-right:30px; 
	line-height: 40px;
}
#head_main{           
    margin:auto;
    display: flex;
    position: relative;
    height: 80px;
}
#head_main_logo{
	width: 20%;
	height: 100%;
	line-height: 80px;
	position: absolute;
	left: 100px;
}
#head_main_label{
	width: 20%;
	position: absolute;
	right: 100px;
	top: 9px;
}
#head_main_label p{
	color: #82669B;
	margin-bottom:auto;
}
#head_more{
	height: 40px;
	background: url(../img/head_bg.png) repeat-x;
	position: relative;
}
#head_more div{
	width: 1440px;
	position: absolute;
	left: 100px;
}
#head_more div a{
	color: white;
	width: 60px;
	text-decoration:none;
	float: left;
	margin-right: 70px;
	line-height: 40px;
	font-size: 16px;
}
#head_more div a:hover{
	font-size: 20px;
}

#body{
}
#body_top{           
    margin:auto;
    display: flex;
    position: relative;
    height: 80px;
}
#body_top_search{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0px;
}
#body_top_search input{
	margin-top: 23px;
	float: left;
    flex: 4;
    height: 35px;
    width: 70%;
    outline: none;
    border: 1px solid #33B9E8;
    box-sizing: border-box;
    padding-left: 10px;
}
#body_top_search button{
	margin-top: 23px;
	flex: 1;
	height: 35px;
	width: 35px;
	color: white;
	border-style: none;
	outline: none;
}
#body_top_search button i{
    font-style: normal;
}
#body_place{
	width: 100%;
	height: 110px;
	position: relative;
}
#body_place h2{
	float: left;
	line-height: 50px;
}
#body_place h4{
	float: left;
	margin-left: 20px;
	color: #DDDDDD;
	line-height: 50px;
}
#body_place div{
	width:100px;
	float: right;
}
#body_place div img{
	width: 40px;
	height: 40px;
}
#body_place div button{
	border: none;
	background: none;
}
#body_place label{
	color: #2577E3;
}
#body_place p{
	color: #666666;
	position: absolute;
	left: 0;
	bottom: 0;
}
#body_introduced{
	border: 1px solid red;
	width: 100%;
	height: 500px;
}
#body_introduced .introduced{
	float: left;
	width: 40%;
}
#body_introduced .img{
	float: right;
	width: 60%;
	height: 100%;
}
#body_introduced .img img{
	width: 100%;
	height: 100%;
}
#feet{
	height: 200px;
}
#footer_text{
	color: #B399A6;
	margin-top: 80px;
	margin-bottom:auto;
	text-align: center;
}
